// GRID VARIABLES
$num-board-col: 3;
$num-board-row: 3;
$cell-size: 12rem;

// COLOR VARIABLES
$color-primary: #303F9F;
$color-primary-med: #7986CB;
$color-primary-light: #C5CAE9;
$color-secondary: #0B132B;
$color-black: #000;
$color-white: #FFF;
$color-grey: #D9D9D9;
$color-grey-dark: #303336;

// MIXINS

// Initialize each area in the board with corresponding row, column.
@mixin set-grid-areas() {
    $counter: 1;
    @for $row from 1 through $num-board-row {
        @for $col from 1 through $num-board-col {
            [data-cell-number="#{$counter}"] {
                grid-column: $col;
                grid-row: $row;
            }
            $counter: $counter + 1;
        }
    }
}

// Change appearance of inputs when disabled.
@mixin disabled-input() {
    background-color: $color-grey;
    color: rgba($color-black, .5);
}

html {
    background-color: $color-secondary;
    color: $color-white;
}

body {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.8rem;
}

h1 {
    font: 400 4.5rem 'Kreon', serif;
    letter-spacing: .2rem;
    margin: 3rem 0 4rem;
    text-align: center;
    text-shadow: .5rem .3rem .2rem $color-primary;
}

fieldset { margin-bottom: 3.75rem; }

legend {
    border-bottom: .1rem solid $color-primary;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    padding-bottom: .75rem;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 3.5rem;
}

.board {
    @include set-grid-areas();
    align-self: center;
    background-color: $color-primary;
    border-radius: 1rem;
    color: $color-grey-dark;
    display: grid;
    font-size: $cell-size - 5rem;
    font-weight: 600;
    gap: .75rem;
    // repeat() function not working with vender prefix compiled.
    grid-template-columns: $cell-size $cell-size $cell-size;
    grid-template-rows: $cell-size $cell-size $cell-size;
    margin-right: 3rem;
    // Show rounded corners from border-radius.
    overflow: hidden;

    &__cell {
        align-items: center;
        background-color: $color-primary-med;
        display: flex;
        justify-content: center;
        padding: .5rem .75rem;

        &:hover {
            background-color: $color-primary-light;
            cursor: pointer;
        }
    }
}

.form {
    border: .05rem solid $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.opponent {
    &__box {
        display: inline-block;
        &:not(:last-child) { margin-right: 1rem; }
    }
}

.names {
    &__label {
        display: inline-block;
        margin-right: 1rem;
        width: 10rem;
    }

    &__box + &__box { margin-top: .5rem; }

    &__input { width: 10rem; }
}

.play-btn {
    align-self: flex-start;
    padding: .75rem 1.5rem;

.game-output {
    display: flex;
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: .1rem;
    justify-content: center;
}